<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body{
    text-align: center ;
    max-width: 500px;
    margin: auto;
}

table{
    text-align: center ;
    max-width: 500px;
    margin: auto;
}
    </style>
</head>
<body>
      <br>
      <br>
    <%if(data){%>  
        <div>  
        <table class="table table-hover table-responsive table-stripped  nav justify-content-center" style="width: auto" >   
        <thead class="thead-dark"> 
        <tr class="bg-primary">  
        <th>S.no</th>  
        <th>sector_id</th>  
        <th>avalanche_axis</th>  
        <th>forecast1</th>  
        <th>forecast2</th>  
        <th>forecast3</th>  
        </tr>  
        </thead>  

        <!-- change the fieldssss -->
        
        <tbody style="overflow-x: scroll; height:350px;" class="table-bordered">  
        <%for(var i=data.length-1;i>= 0   ;i--){%>  
        <tr class="text-center">  
        <td ><%= data.length-i  %></td> 
        <!-- <td style="padding-left: 1em"><%= indexes %></td>   -->
        <td style="padding-left: 1em"><%= data[i].sector_id%></td>  
        <td style="padding-left: 1em"><%= data[i].avalanche_axis%></td>  
        <td style="padding-left: 1em"><%= data[i].forecast1%></td>  
        <td style="padding-left: 1.2em"><%= data[i].forecase2%></td>  
        <td style="padding-left: 1.2em"><%= data[i].forecast3%></td>  
        </tr>  
        <%}%>  
        </tbody>  
        </table>  
        </div>  
        <%}%>  
</body>
</html>